@{
    ViewData["Title"] = "Контакты";
}

<div class="container-fluid text-center">
    <div class="row">
        <div class ="col-sm-6">
            <h4>Наша группа:</h4>
            <div>
                <a href="https://vk.com/anothertour"><img src="/images/qr_vk_group.jpg" width="200" height="200" /></a>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>Руководитель проекта:</h4>
            <div>
                <a href="https://vk.com/l.baticheva78"><img src="/images/qr_vk_manager.jpg" width="200" height="200" /></a>
            </div>
        </div>
    </div>
    <div class="row vh-25 vw-50">
        <h4>Мы в Яндекс Картах:</h4>
        <div class="">
            <iframe src="https://yandex.ru/map-widget/v1/?z=12&ol=biz&oid=178669614504" width="800" height="400" frameborder="0" class="yandex-map"></iframe>
        </div>
    </div>
</div>