
@{
    ViewData["Title"] = "Успех";
}

<h1>Ваш аккаунт успешно создан</h1>

<p>Войдите в свой аккаунт и заполните данные профиля.</p>

<a class="btn btn-primary" asp-action="Login" asp-controller="Account">Войти</a>
<br />
<br />
<a class="btn btn-secondary" asp-action="Index" asp-controller="Home">На главную</a>