@{
    ViewData["Title"] = "ChangePasswordSuccess";
}

<h2>Ваш пароль успешно изменен</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">
    <i class="bi bi-arrow-return-left"></i>
    На главную
</a>