@model anothertour.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Вход";
}

<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    @*<input type="hidden" asp-for="RememberMe" />*@
    <input type="hidden" asp-for="ReturnUrl" />
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" type="email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div>
        <a asp-action="ForgotPassword" asp-controller="Account" class="btn btn-outline-secondary">Забыли пароль?</a>
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-primary">Войти</button>
    </div>
</form>