
@{
    ViewData["Title"] = "Подтверждение";
}

<h1>Подтверждение регистрации</h1>
<hr />
<h4>Для завершения регистрации пройдите по ссылке укзанной в письме, отправленном на вашу электронную почту!</h4>
<h3>Эту страницу можно закрыть.</h3>