@model anothertour.ViewModels.RegisterViewModel

@{
    ViewData["Title"] = "Регистрация";
}

<h2 class="text-center">Регистрация</h2>
<hr />

<div class="d-flex justify-content-center align-items-center">
    <form method="post" asp-controller="Account" asp-action="Register">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="mb-3">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" type="email" class="form-control form-control-lg" placeholder="name@example.com" />
            <span asp-validation-for="Email"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control form-control-lg" />
            <span asp-validation-for="Password"></span>
            <div class="form-text" id="basic-addon4">
                Пароль должен содержать не менее 10 символов,<br />
                включая большие и маленькие буквы латинского алфавита,<br />
                цифры и спецсмволы (например: !#?() и др.)
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="PasswordConfirm"></label><br />
            <input asp-for="PasswordConfirm" class="form-control form-control-lg" />
            <span asp-validation-for="PasswordConfirm"></span>
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
</div>