
@{
    ViewData["Title"] = "Подтверждение";
}

<h1>Ваша заявка успешно отправлена</h1>
<hr />
<h4>Наш менеджер обязательно сяжется с Вами для уточнения деталей. На указанную почту будет выслано напоминание.</h4>
<h2>Спасибо!</h2>

<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">
    <i class="bi bi-arrow-return-left"></i>
    На главную
</a>