@using Microsoft.AspNetCore.Identity

@model IdentityRole
@{
    ViewData["Title"] = "Удаление роли";
}

<h2>Удаление роли</h2>
<h2>Вы уверены?</h2>

<form asp-route-id="@Model.Id" asp-action="RoleDelete" asp-controller="Admin" method="post">
    <input class="btn btn-warning" type="submit" value="Удалить" />
</form>
<br />
<a asp-action="Roles" asp-controller="Admin" class="btn btn-secondary">Назад к списку ролей</a>

